* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#banner {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#009686)), url(./images/banner.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009686), url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#banner .logo {
  position: absolute;
  top: 4%;
  left: 10%;
}

#banner .banner-text {
  color: #FFF;
  text-align: center;
  padding-top: 180px;
  /*the buttons*/
}

#banner .banner-text h1 {
  font-size: 130px;
  font-family: 'Kaushan Script', cursive;
}

#banner .banner-text p {
  font-size: 20px;
  font-style: italic;
}

#banner .banner-text .banner-btn {
  margin: 70px auto 0;
}

#banner .banner-text .banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: solid 1px #FFF;
  position: relative;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  z-index: 1;
}

#banner .banner-text .banner-btn a span {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  z-index: -1;
}

#banner .banner-text .banner-btn a:hover span {
  width: 100%;
}

#banner .banner-text .banner-btn a:hover {
  color: #333;
}

/* style the silde-nav */
.side-nav {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #009688;
  z-index: 2;
}

.side-nav li {
  list-style: none;
  margin: 50px 20px;
}

.side-nav li a {
  text-decoration: none;
  color: #FFF;
}

/*style the munu button*/
.menu-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 3px;
  z-index: 3;
  line-height: 55px;
  background-color: #009688;
  cursor: pointer;
}

.menu-btn img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 770px) {
  #banner .banner-text > h1 {
    font-size: 44px;
  }
  /*the buttons*/
  #banner .banner-text .banner-btn a {
    display: block;
    margin: 20px auto;
  }
}

#features {
  width: 100%;
  padding: 70px 0;
}

#features .title-text {
  text-align: center;
  padding-bottom: 70px;
}

#features .title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#features .title-text p::before {
  content: '';
  width: 50px;
  height: 35px;
  top: -20px;
  left: 0;
  z-index: -1;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#FFF));
  background-image: linear-gradient(#009688, #FFF);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

#features .title-text h1 {
  font-size: 50px;
}

#features .feature-box {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#features .feature-box .feature {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#features .feature-box .feature h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: #008688;
}

#features .feature-box .feature .feature-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#features .feature-box .feature .feature-desc .feature-icon .fa {
  height: 50px;
  width: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #008688;
  border: 1px solid #008688;
}

#features .feature-box .feature .feature-desc p {
  padding: 0 20px;
  text-align: initial;
}

#features .feature-box .feature-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: auto;
}

#features .feature-box .feature-img img {
  width: 70%;
  border-radius: 10px;
}

@media screen and (max-width: 770px) {
  #features .feature-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #features .title-text h1 {
    font-size: 35px;
  }
  #features .feature-box .feature-img > img {
    width: 100%;
  }
}

#service {
  width: 100%;
  padding: 70px 0;
  background-color: #efefef;
}

#service .title-text {
  text-align: center;
  padding-bottom: 70px;
}

#service .title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#service .title-text p::before {
  content: '';
  width: 50px;
  height: 35px;
  top: -20px;
  left: 0;
  z-index: -1;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#FFF));
  background-image: linear-gradient(#009688, #FFF);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

#service .title-text h1 {
  font-size: 50px;
}

#service .service-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

#service .service-box .single-service {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #FFF;
  position: relative;
}

#service .service-box .single-service img {
  width: 100%;
}

#service .service-box .single-service .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#009688));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#service .service-box .single-service .service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}

#service .service-box .single-service .service-desc hr {
  width: 60%;
  background-color: #FFF;
  border: 0;
  margin: 15px auto;
  height: 2px;
}

#service .service-box .single-service .service-desc p {
  font-size: 14px;
  cursor: pointer;
}

#service .service-box .single-service:hover .overlay {
  opacity: 1;
}

#service .service-box .single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}

@media screen and (max-width: 770px) {
  #service .service-box .single-service {
    -ms-flex-preferred-size: 86%;
        flex-basis: 86%;
  }
  #sercice .service-box .single-service .service-desc hr {
    margin: 5px auto;
  }
  #sercice .service-box .single-service .service-desc p {
    margin: 12px;
  }
  #sercice .service-box .single-service:hover .service-desc {
    bottom: 25% !important;
  }
}

#testimonials {
  width: 100%;
  padding: 70px 0;
}

#testimonials .title-text {
  text-align: center;
  padding-bottom: 70px;
}

#testimonials .title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#testimonials .title-text p::before {
  content: '';
  width: 50px;
  height: 35px;
  top: -20px;
  left: 0;
  z-index: -1;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#FFF));
  background-image: linear-gradient(#009688, #FFF);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

#testimonials .title-text h1 {
  font-size: 50px;
}

#testimonials .testimonial-row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#testimonials .testimonial-row .testimonial-column {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px 3px #00968814;
          box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

#testimonials .testimonial-row .testimonial-column:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

#testimonials .testimonial-row .testimonial-column .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

#testimonials .testimonial-row .testimonial-column .user img {
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}

#testimonials .testimonial-row .testimonial-column .user .user-info .fab {
  margin-left: 10px;
  color: #27C0FF;
  font-size: 20px;
}

#testimonials .testimonial-row .testimonial-column .user .user-info small {
  color: #27C0FF;
}

#testimonials .testimonial-row .testimonial-column p {
  font-size: 14px;
}

@media screen and (max-width: 770px) {
  #testimonials .testimonial-row .testimonial-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#footer {
  width: 100%;
  padding: 100px 0 20px;
  background-color: #efefef;
  position: relative;
}

#footer .footer-img {
  max-width: 370px;
  position: absolute;
  opacity: 0.1;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#footer .title-text {
  text-align: center;
  padding-bottom: 70px;
}

#footer .title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#footer .title-text p::before {
  content: '';
  width: 50px;
  height: 35px;
  top: -20px;
  left: 0;
  z-index: -1;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#FFF));
  background-image: linear-gradient(#009688, #FFF);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

#footer .title-text h1 {
  font-size: 50px;
}

#footer .footer-row {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-row h1 {
  margin: 10px 0;
}

#footer .footer-row p {
  line-height: 35px;
}

#footer .footer-row .footer-left,
#footer .footer-row .footer-right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

#footer .footer-row .footer-right {
  text-align: right;
}

#footer .footer-row .footer-left .fas,
#footer .footer-row .footer-right .fa {
  font-size: 20px;
  color: #009688;
  margin: 10px;
}

#footer .social-lins {
  text-align: center;
}

#footer .social-lins .fab {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid #009688;
  margin: 40px 5px 0;
  color: #009688;
  -webkit-transition: color .4s ease-in-out , -webkit-transform .4s ease-in-out;
  transition: color .4s ease-in-out , -webkit-transform .4s ease-in-out;
  transition: color .4s ease-in-out , transform .4s ease-in-out;
  transition: color .4s ease-in-out , transform .4s ease-in-out , -webkit-transform .4s ease-in-out;
}

#footer .social-lins .fab:hover {
  background-color: #009688;
  color: #FFF;
  -webkit-transform: translateY(-7Px);
          transform: translateY(-7Px);
}

#footer .social-lins p {
  font-size: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 770px) {
  #footer .footer-row .footer-left,
  #footer .footer-row .footer-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #footer .footer-img {
    top: 25%;
  }
}
/*# sourceMappingURL=style.css.map */